<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Invitation Mail Template</title>
    <style>
        #btn {
            border-radius: 4px;
            background-color: blueviolet;
            padding: 2px 4px;
            border: none;
        }

        #btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h3>Hello user,</h3>
    <p>We have received a request to reset your password.</p>
    <p>Click on the button below to reset your account password.</p>
    <button id="btn"><a href={{ url }}>Reset Password</a></button>
    <div>
        <p>with regards,</p>
        <p>money management</p>
    </div>
</body>

</html>